{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="about-page">
    <h1>About Us</h1>
    <p>Welcome to our sports event platform. Here, we organize various exciting sports events for all enthusiasts. Our mission is to bring people together through the love of sports and provide unforgettable experiences.</p>
    <p>Whether you're a seasoned athlete or just looking to have fun, our events are designed to cater to all levels and interests. Join us and be part of the community!</p>
</div>
{% endblock %}
