{% extends 'base.html' %}

{% block title %}Contact Us - Sports Events{% endblock %}

{% block content %}
<section class="contact-section">
    <h1>Contact Us</h1>
    <p>We'd love to hear from you! Whether you have a question about our events, need assistance with bookings, or just want to say hello, feel free to reach out to us.</p>
    <p>If you have any questions, please feel free to reach out to us at:</p>
    <a href="mailto:jorritvanstraelen11@gmail.com" style="text-decoration: underline; color: #c0c0c0;">jorritvanstraelen11@gmail.com</a>
    <br><br><a href="tel:+34 672247370" style="text-decoration: underline; color: #c0c0c0;">+34 672247370</a>
    <p>Looking forward to hearing from you!</p>
</section>
{% endblock %}

{% block footer %}
<div class="footer-content">
    <ul class="socials">
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
    </ul>
</div>
{% endblock %}
