{% extends 'base.html' %}

{% block title %}Event Details{% endblock %}

{% block content %}
<div class="event-detail-container">
    <div class="event-detail-content">
        <img src="{{ event.image.url }}" alt="{{ event.title }}">
        <h3>{{ event.title }}</h3>
        <p>{{ event.description }}</p>
        <p><strong>Date:</strong> {{ event.date }}</p>
        <p><strong>Location:</strong> {{ event.location }}</p>
        <a href="{% url 'book_event' event.id %}" class="btn-book-now">Book Now</a>
    </div>
</div>
{% endblock %}