body {
    font-family: 'Roboto', sans-serif;
    background: #1e1e1e;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #272727;
    width: 100%;
    box-sizing: border-box;
}

.navbar .logo a {
    color: #00c8ff;
    font-size: 2em;
    text-decoration: none;
    font-weight: bold;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
}

.navbar .nav-links li {
    margin: 0 20px;
}

.navbar .nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.3em;
}

.navbar .nav-links a:hover {
    color: #00c8ff;
}

/* Hamburger Menu Styles */
.hamburger {
    display: none;
    font-size: 2em;
    color: #ffffff;
    cursor: pointer;
}

/* General styling for the About Us page */
.about-page {
    padding: 50px 40px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: #e0e0e0;
}

/* Heading styles */
.about-page h1 {
    font-size: 2.5em;
    color: #00c8ff;
    margin-bottom: 20px;
}

.about-page h2 {
    font-size: 2em;
    color: #0075ff;
    margin-top: 40px;
    margin-bottom: 20px;
}

/* Paragraph styling */
.about-page p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #c0c0c0;
    margin-bottom: 20px;
}

/* List styling */
.about-page ul {
    list-style: none;
    padding: 0;
    text-align: left;
    margin-bottom: 20px;
}

.about-page ul li {
    font-size: 1.2em;
    line-height: 1.6;
    color: #c0c0c0;
    margin-bottom: 10px;
}

.about-page ul li strong {
    color: #00c8ff;
}


.content-wrapper {

    flex: 1;
    width: 100%;
    box-sizing: border-box;
}

.hero {
    background: linear-gradient(to right, #00c8ff, #0075ff);
    color: #ffffff;
    text-align: center;
    padding: 100px 20px;
    width: 100%;
    box-sizing: border-box;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5em;
    margin-bottom: 40px;
}

.hero .btn {
    background-color: #ffffff;
    color: #0075ff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.hero .btn:hover {
    background-color: #0075ff;
    color: #ffffff;
}

.features {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 50px 0;
    background-color: #1e1e1e;
    width: 100%;
    box-sizing: border-box;
}

.features .feature {
    flex: 1;
    margin: 0 20px;
}

.features .feature i {
    font-size: 3em;
    color: #00c8ff;
    margin-bottom: 20px;
}

.features .feature h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.features .feature p {
    font-size: 1.1em;
    color: #c0c0c0;
}

.events-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.event-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #272727;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.event-card:hover {
    transform: scale(1.05);
}

.event-card img {
    width: 100%;
    height: 200px; /* Fixed height */
    object-fit: cover; /* Ensures the image covers the area while maintaining aspect ratio */
    border-radius: 10px;
}

.event-card-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.event-card-content h3,
.event-card-content p {
    margin-bottom: 10px;
}

.event-card-content .payment-message {
    color: #c0c0c0;
    font-size: 0.9em;
    margin-top: auto;
}

.event-card .btn {
    background-color: #00c8ff;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    align-self: center;
    margin-top: auto;
}

.event-card .btn:hover {
    background-color: #0075ff;
}

.footer-content {
    text-align: center;
    padding: 20px;
    background-color: #272727;
    width: 100%;
    box-sizing: border-box;
    margin-top: auto;
}

.footer-content p {
    margin: 10px 0;
}

.footer-content .socials {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.footer-content .socials li {
    margin: 0 10px;
}

.footer-content .socials a {
    color: #ffffff;
    font-size: 1.5em;
    text-decoration: none;
}

.footer-content .socials a:hover {
    color: #00c8ff;
}

.section.events {
    margin-bottom: 60px;
}

.btn-see-more {
    display: inline-block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #00c8ff;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.btn-see-more:hover {
    background-color: #0075ff;
    color: #ffffff;
}

.upcoming {
    width: 33.33%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 60px;
    font-size: 5em;
}

/* General styling for the Contact Us page */
.contact-section {
    padding: 50px 40px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: #e0e0e0;
}

/* Heading styles */
.contact-section h1 {
    font-size: 2.5em;
    color: #00c8ff;
    margin-bottom: 20px;
}

/* Paragraph styling */
.contact-section p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #c0c0c0;
    margin-bottom: 30px;
}

/* Form styling */
.contact-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-section label {
    font-size: 1.1em;
    color: #c0c0c0;
    margin-bottom: 10px;
    align-self: flex-start;
}

.contact-section input,
.contact-section textarea {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #272727;
    color: #e0e0e0;
}

.contact-section input:focus,
.contact-section textarea:focus {
    outline: none;
    border-color: #00c8ff;
}

/* Button styling */
.contact-section .btn {
    background-color: #00c8ff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.contact-section .btn:hover {
    background-color: #0075ff;
}

/* Event Detail Page */
.event-detail-container,
.form-container {
    max-width: 800px;
    margin: 0 auto; /* Centering the container */
    padding: 40px 20px;
}

.event-detail-content {
    text-align: center; /* Centering text content */
    padding: 20px;
    background-color: #272727;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adding shadow */
}

.event-detail-content img {
    width: 100%;
    height: auto;
    max-width: 600px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.event-detail-content h3,
.event-detail-content p {
    color: #e0e0e0;
    margin-bottom: 10px;
}

/* Form Styles */
form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #272727;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    align-items: center;
    display: flex;
    flex-direction: column;
}

form label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #e0e0e0;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #e0e0e0;
}

form textarea {
    resize: vertical;
}

form button[type="submit"] {
    display: inline-block;
    background-color: #00c8ff;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

form button[type="submit"]:hover {
    background-color: #0075ff;
    color: #ffffff;
}

.form-container {
    text-align: center;
}  

/* Book Now Button */
.btn-book-now {
    display: inline-block;
    background-color: #00c8ff;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.btn-book-now:hover {
    background-color: #0075ff;
    color: #ffffff;
}

.success-message {
    text-align: center;
    padding: 50px 20px;
}

.success-message h2 {
    font-size: 2.5em;
    color: #00c8ff;
    margin-bottom: 20px;
}

.success-message p {
    font-size: 1.2em;
    color: #c0c0c0;
    margin-bottom: 20px;
}

.success-message .btn {
    background-color: #00c8ff;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.success-message .btn:hover {
    background-color: #0075ff;
    color: #ffffff;
}

/* Styles specific to the home screen event cards */
.home-screen .event-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.home-screen .event-card-content {
    flex-grow: 1;
}

.home-screen .btn {
    align-self: flex-end;
}

form ul li {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

form ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}


.message-error {
    color: darkred;
    font-weight: bold;
    display: inline-block;
}

.message-error:before,
.message-error:after {
    content: '**';
    margin: 0 5px;
}


/* Media Queries for Mobile Devices */
@media (max-width: 600px) {
    .hero h1 {
        font-size: 2em;
    }

    .hero p {
        font-size: 1em;
    }

    .features {
        flex-direction: column;
        padding: 20px 10px;
    }

    .feature {
        flex: 1 1 100%;
        padding: 10px;
    }

    .events-container {
        flex-direction: column;
        align-items: center;
    }

    .event-card {
        flex: 1 1 100%;
        margin: 10px 0;
    }

    .event-card-content {
        padding: 10px;
    }

    .upcoming { 
        font-size: 2em;
    }
}

.contact-details {
    background: #fff;
    padding: 20px;
    margin-top: 20px;
    border: #ccc 1px solid;
}
.contact-details h2 {
    margin-top: 0;
}
.contact-details p {
    line-height: 1.6;
}

@media (max-width: 768px) {
    .navbar .nav-links {
        display: none;
        flex-direction: column;
        width: 100vw;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #272727;
        text-align: center;
    }

    .navbar .nav-links.active {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar .nav-links li {
        margin: 20px 0;
    }

    .hamburger {
        display: block;
    }
    ul {
        padding: 0%;
    }
}

