<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sports Events{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'events/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="{% url 'home' %}">Sportify</a>
        </div>
        <button class="hamburger" onclick="toggleNav()">&#9776;</button>
        <ul class="nav-links" id="navLinks">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'user_bookings' %}">My Bookings</a></li>
                <li><a href="#" onclick="confirmLogout(event)">Logout</a></li>
            {% else %}
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="content-wrapper">
        {% block content %}{% endblock %}
    </div>
    <footer class="footer-content">
        <p>Follow us on:</p>
        <ul class="socials">
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
        <p>&copy; 2024 Sportify. All rights reserved.</p>
    </footer>
    <script>
        function toggleNav() {
            var navLinks = document.getElementById("navLinks");
            if (navLinks.classList.contains("active")) {
                navLinks.classList.remove("active");
            } else {
                navLinks.classList.add("active");
            }
        }

        function confirmLogout(event) {
            event.preventDefault(); // Prevent the default action (navigating to the logout URL)
            const confirmed = confirm("Are you sure you want to log out?");
            if (confirmed) {
                // If the user confirms, redirect them to the logout URL
                window.location.href = "{% url 'logout' %}";
            } else {
                // If the user cancels, do nothing
                return false;
            }
        }
    </script>
</body>
</html>
